<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Webshop</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
<div th:insert="../static/Header.html"></div><br><br>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Quantity of stock</td>
            </tr>
        </thead>
        <tbody>

        <tr th:each="shopitem : ${list}">
            <td th:text="${shopitem.getName()}"></td>
            <td th:text="${shopitem.getDescription()}"></td>
            <td th:text="${shopitem.getPrice()}"></td>
            <td th:text="${shopitem.getQuantityOfStock()}"></td>
        </tr>

        </tbody>
    </table>


</body>
</html>