body {
    padding-left: 20%;
    padding-right: 20%;
}

#balra{
    text-indent: 25%;
    left: 25%;
}

header {
    background-color: grey;
    border: solid black 1px;
    padding-bottom: 0px;
    padding-top: 0px;
}

h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

body p{
    font-family: 'Times New Roman', Times, serif;
}

input{
    margin-bottom: 10px;
    position: relative;
}

label{
    font-weight: bold;
}

#lab{
    position: relative;
    left: 25%; 
    text-indent: 0px;
}

.nagy{
    width: 50%; 
    height: 100px;
    vertical-align: top;
}

table{
    border: 1px solid;
    width: 50%;
}

thead{
    font-size: 30px;
    font-weight: bold;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    border-radius: 5px;
    width: 95px;
    left: 25%;
}

input[type=text],[type="textarea"] {
    left: 25%;
}