<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<h1>This is my main page.</h1>

<a href="/inhabitants">See the inhabitants of the Hundred Acre Wood</a>
<br /><br />

<a href="/inhabitants/add">Create a new inhabitant!</a>
<br /><br />

<form method="post" action="#" th:action="@{/inhabitant/search}">
    <label for="searchbar" >Search for an inhabitant:</label><br>
    <input type="search" name="searchbar" id="searchbar" >
    <input type="submit" value="Search"><br>
</form>

</body>
</html>