<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inhabitant detail</title>
</head>
<body>

<span th:if="${error}" th:text="${error}"></span>
<div th:unless="${error}" th:object="${inhabitant_by_id}">
    <h1 th:text="*{name}"></h1>
    <h2 th:text="*{age}"></h2>
    <h3 th:text="*{gender}"></h3>
</div>
<p>The list of this inhabitant's orders:</p>
<table th:object="${orders}">
    <thead>
        <tr>
            <td>Name of order</td>
            <td>Cost of order</td>
        </tr>
    </thead>
    <tr th:each="order : ${orders}">
        <td th:text="${order.name}"></td>
        <td th:text="${order.cost}"></td>
    </tr>
</table>

</body>
</html>