<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index of animal bank accounts</title>
</head>
<body>
<table>
    <tr th:each="item : ${list}">
        <td th:text="${item.name}"></td>
        <td th:text="|${#numbers.formatDecimal(item.balance, 1, 'NONE', 2, 'POINT')} Zebra|"></td>
        <td th:text="${item.animalType}"></td>
        <td th:class="index" th:text="${itemStat.index}"></td>
        <td th:class="index" th:text="${item.king} ? 'King' : ''"></td>
        <td th:class="index" th:text="${item.goodGuy} ? 'Good guy' : 'Bad guy'"></td>
    </tr>
</table><br /><br />
<form action="#" th:action="@{/show}" method="post">
    <label>Raise the balance of a selected animal:</label>
    <select name="animalIndex" >
        <option th:each="bankAccount : ${list}" th:text="${bankAccount.name}" th:value="${bankAccountStat.index}"></option>
    </select>
    <input type="submit" value="Raise Balance">
</form><br /><br />
<a href="/add">Create a new account for the bank</a>
</body>
</html>