<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Programmer Fox Club</title>
    </head>
    <body>

    <img src="greenfox.png" name="greenfox" alt="fox">

    <p th:text="'You have successfully visited your pet: ' + (${fox} != null ? ${fox.getName()} : 'Mr. Fox')"></p>
    <p> </p>
    <ul>
        <li><a th:href="'/information?name=' + ${name}">Information</a></li>
        <li><a th:href="'/nutritionStore?name=' + ${name}">Nutrition Store</a></li>
        <li><a th:href="'/trickCenter?name=' + ${name}">Trick Center</a></li>
        <li><a th:href="'/actionHistory?name=' + ${name}">Action History</a></li>
    </ul>
    </body>
</html>